auto/
cache/
chroot/
binary/
.build/
build.log
*.iso
*.img
*.manifest
*.packages
*.list
*.contents
*.filesystem*
*.tar
*.zsync*
chroot.*
config/binary
config/bootstrap
config/chroot
config/common
config/source
tmp/
