dist/

# live-build generated state and output
live-build/.build/
live-build/.cache/
live-build/binary/
live-build/binary.packages
live-build/binary.contents
live-build/cache/
live-build/chroot/
live-build/chroot.headers
live-build/chroot.packages.*
live-build/config/binary
live-build/config/bootstrap
live-build/config/chroot
live-build/config/common
live-build/config/source
live-build/live-image-*.iso
